
secrets
.*
*.pem

certbot/volumes/**
unifi/volumes/**
volumerise/volumes/**

homeAssistant/volumes/**
!homeAssistant/volumes/config
!homeAssistant/volumes/config/*.yaml

nodeRed/volumes/**
!nodeRed/volumes/data
!nodeRed/volumes/data/package.json

pihole/piholev0/volumes/**
!pihole/piholev0/volumes/etc-lighttpd

zigbee2mqtt/volumes/**
!zigbee2mqtt/volumes/zigbee2mqttData
!zigbee2mqtt/volumes/mosquittoConfig


!*.yaml
!*.conf

homeAssistant/volumes/config/secrets.yaml
